<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title><%= "The Gossip Project" %></title>
  <script src="script.js"></script>
</head>
<body>
<h1> Profil </h1>
<p></p>

<h3> Le user  </h3>
<p><%= @userfind.first_name%></p>
<p><%= @userfind.last_name%></p>
<p><%= @userfind.description%></p>
<p><%= @userfind.email%></p>
<p><%= @userfind.age%></p>
<p><%= @userfind.city[:name]%></p>
<%# <%= link_to "Accéder au pofil de #{@gossipfind.user[:first_name]}", user_path(@user.id), :class =>"btn btn-secondary btn-lg active" %> 
</body>
</html>
